@page
@section Styles {
<link rel="stylesheet" href="~/css/home.css" />
}
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="column side">
        <div>Filter by ingredient</div>
        <div class="container">
            <form id="filter-list" method="post">
                <button id="filter-btn" type="submit" asp-page-handler="ProductFilter">Filter</button>
                @foreach (var product in Model.products)
                {
                    <div id="test">
                        <input name="productFilter" type="checkbox" value="@product.Name" />
                        <label id="product-name">@product.Name</label>
                    </div>
                }
            </form>
        </div>
    </div>
    <div class="column middle">
        <div>Explore</div>
        <div class="container" id="middle-container">
            @foreach (var recipe in Model.recipes)
            {
                <a id="recipe-router" asp-page="Recipe" asp-route-recipeID="@recipe.ID">
                <div id="recipe-card" >
                    <h2>@recipe.Title</h2>
                    <p id="recipe-description">@recipe.Description</p>
                </div>
                </a>
            }
        </div>
    </div>
    <div class="column side">
        <div>Create</div>
        <div class="container">
            <form class="create-recipe-form" method="post">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                <label asp-for="createRecipeDTO.Title">Title</label>
                <input type="text" placeholder="" asp-for="createRecipeDTO.Title" class="form-control" />
                <span class="text-danger" asp-validation-for="createRecipeDTO.Title"></span>

                <label asp-for="createRecipeDTO.Description">Description</label>
                <input type="text" placeholder="" asp-for="createRecipeDTO.Description" class="form-control" />
                <span class="text-danger" asp-validation-for="createRecipeDTO.Description"></span>

                <label asp-for="createRecipeDTO.Products">Products</label>
                <input type="text" placeholder="" asp-for="createRecipeDTO.Products" class="form-control" />
                <span class="text-danger" asp-validation-for="createRecipeDTO.Products"></span>
                <span class="tip">each product should be comma separated</span>


                <button type="submit">Create</button>
            </form>
        </div>
    </div>
</div>

